.app-container {
  display: flex;
  
  
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}




th,
td {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
  font-size: 14px;
}

th {
  background-color: rgb(250, 219, 117);
}

td {
  background-color: rgb(235, 253, 205);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 15px;
  
}
input{
  font-size: 15px;
}

.toSubmit{
  background-color: rgb(235, 253, 205);
  border:1px solid green ;
  font-size: 15px;
  border-radius: 10%;
  color: green;
  
}
.toDelete{
  background-color: rgb(254, 205, 214);
  border:1px solid red ;
  font-size: 15px;
  border-radius: 10%;
  color: red;


}
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #000;
}


